<head>
    <title>Лабораторная работа № 4</title>
</head>

<body>

    <table>
        <tr>
            <td>Немачук Евгений Павлович</td>
        </tr>

        <tr>
            <td>
                1. <a href="pages/shop.html">Магазин</a>
                <table>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            a. <a href="pages/cars.html">Легковые автомобили</a>
                            <table>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        i. <a href="pages/vaz.html">Ваз</a>
                                        <table>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>1. <a href="pages/2104.html">Ваз 2104</a></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>2. <a href="pages/2107.html">Ваз 2107</a></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>3. <a href="pages/2108.html">Ваз 2108</a></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>4. <a href="pages/2109.html">Ваз 2109</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        ii. <a href="pages/gaz.html">Газ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        iii. <a href="pages/mos.html">Москвич</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            b. <a href="pages/trucks.html">Грузовые автомобили</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>2. <a href="adress.html">Адрес</a></td>
        </tr>
        <tr>
            <td>3. <a href="maps.html">Карта сайта</a></td>
        </tr>
    </table>

    <hr>

    <a href="listing1.html">Перейти на первый шаблон</a> <br/>
    <a href="listing2.html">Перейти на второй шаблон</a> <br/>
</body>

</html>