<head>
    <title>Лабораторная работа № 4</title>
</head>

<body>

    <table>
        <td>
            <tr align="center">Немачук Евгений Павлович</tr>
        </td>
        <td>
            <tr width="30%">
                <ol type="1">
                    <li><a href="pages/shop.html">Магазин</a></li>
                    <ol type="a">
                        <li><a href="pages/cars.html">Легковые автомобили</a></li>
                        <ol type="i">
                            <li><a href="pages/vaz.html">Ваз</a></li>
                            <ol type="1">
                                <li><a href="pages/2104.html">Ваз 2104</a></li>
                                <li><a href="pages/2107.html">Ваз 2107</a></li>
                                <li><a href="pages/2108.html">Ваз 2108</a></li>
                                <li><a href="pages/2109.html">Ваз 2109</a></li>
                            </ol>
                            <li><a href="pages/gaz.html">Газ</a></li>
                            <li><a href="pages/mos.html">Москвич</a></li>
                        </ol>
                        <li><a href="pages/trucks.html">Грузовые автомобили</a></li>
                    </ol>
                    <li><a href="adress.html">Адрес</a></li>
                    <li><a href="maps.html">Карта сайта</a></li>
                </ol>
            </tr>
            <tr width="70%"></tr>
        </td>
    </table>

    <hr>

    <a href="listing2.html">Перейти на второй шаблон</a> <br/>
    <a href="listing3.html">Перейти на третий шаблон</a> <br/>

</body>

</html>