<head>
    <title>Страница номер ОДИН</title>
</head>

<body background="image/white-cubes.png">

    <h1>Страница номер ОДИН</h1>

    <a href="index.htm">Перейти на страницу Биография</a> 
    <br>
    <a href="second.htm">Перейти на страницу номер 2</a>
    <br>
    <a href="third.htm">Перейти на страницу номер 3</a>
    <br>
    <a href="fourth.htm">Перейти на страницу номер 4</a>
    <br>

    <p align="left">
        Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации
        новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий
        представляет собой интересный эксперимент проверки модели развития. Не следует, однако забывать, что начало
        повседневной работы по формированию позиции в значительной степени обуславливает создание систем массового
        участия. Таким образом начало повседневной работы по формированию позиции играет важную роль в формировании форм
        развития. Повседневная практика показывает, что реализация намеченных плановых заданий представляет собой
        интересный эксперимент проверки направлений прогрессивного развития.

        Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует
        подготовки и реализации форм развития. Повседневная практика показывает, что сложившаяся структура организации
        способствует подготовки и реализации форм развития.

        Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании
        форм развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей
        деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.

        Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет оценить
        значение соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее
        развитие различных форм деятельности способствует подготовки и реализации модели развития.
    </p>
    <img align="center" src="image/first.png" alt="Для страницы 1">

    <p>Разработчик web страницы - Немачук Евгений - студент факультета ИТУ РГУПС</p>
    <br>
    <a href="http://rgups.ru/">Ссылка на сайт РГУПС</a>
    <br>
    <a href="incuo2019@gmail.com">incuo2019@gmail.com</a>
</body>

</html>