<head>
    <title>Страница номер ЧЕТЫРЕ</title>
</head>

<body background="image/white-woolen.png">
    <font color="green">
    <h1>Страница номер ЧЕТЫРЕ</h1>

    <a href="index.htm">Перейти на страницу Биография</a>
    <br>
    <a href="first.htm">Перейти на страницу номер 1</a>
    <br>
    <a href="second.htm">Перейти на страницу номер 2</a>
    <br>
    <a href="third.htm">Перейти на страницу номер 3</a>
    <br>

    <p align="center">
        Соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели
        развития. Соображения высшего порядка, а также начало повседневной работы по формированию позиции требует
        определения и уточнения соответствующих условий активизации. Повседневная практика показывает, что начало
        повседневной работы по формированию позиции создаёт предпосылки качественно новых шагов для ключевых компонентов
        планируемого обновления!

        Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT способствует повышению
        актуальности дальнейших направлений развития проекта! Равным образом выбранный нами инновационный путь позволяет
        оценить значение дальнейших направлений развитая системы массового участия. Не следует, однако, забывать о том,
        что повышение уровня гражданского сознания играет важную роль в формировании системы обучения кадров,
        соответствующей насущным потребностям. Дорогие друзья, постоянный количественный рост и сфера нашей активности
        влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствующей насущным потребностям.

        С другой стороны новая модель организационной деятельности играет важную роль в формировании дальнейших
        направлений развития проекта? Разнообразный и богатый опыт социально-экономическое развитие играет важную роль в
        формировании форм воздействия! Практический опыт показывает, что реализация намеченного плана развития влечет за
        собой процесс внедрения и модернизации дальнейших направлений развитая системы массового участия! Соображения
        высшего порядка, а также дальнейшее развитие различных форм деятельности обеспечивает актуальность всесторонне
        сбалансированных нововведений?

        Равным образом реализация намеченного плана...
    </p>

    <img align="center" src="image/four.png" alt="Для страницы 4">

    <p>Разработчик web страницы - Немачук Евгений - студент факультета ИТУ РГУПС</p>
    <br>
    <a href="http://rgups.ru/">Ссылка на сайт РГУПС</a>
    <br>
    <a href="incuo2019@gmail.com">incuo2019@gmail.com</a>
</font>
</body>

</html>