<head>
    <title>Страница номер ТРИ</title>
</head>

<body background="image/white-paralleo.png">
    <font color="green">
        <h1>Страница номер ТРИ</h1>

        <a href="index.htm">Перейти на страницу Биография</a>
        <br>
        <a href="first.htm">Перейти на страницу номер 1</a>
        <br>
        <a href="second.htm">Перейти на страницу номер 2</a>
        <br>
        <a href="fourth.htm">Перейти на страницу номер 4</a>
        <br>

        <p align="right">
            Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT требует от нас
            системного
            анализа дальнейших направлений развития проекта. Равным образом консультация с профессионалами из IT играет
            важную роль в формировании экономической целесообразности принимаемых решений. Таким образом,
            социально-экономическое развитие играет важную роль в формировании ключевых компонентов планируемого
            обновления!

            Практический опыт показывает, что начало повседневной работы по формированию позиции требует от нас
            системного
            анализа соответствующих условий активизации!

            Равным образом реализация намеченного плана развития обеспечивает актуальность соответствующих условий
            активизации! Задача организации, в особенности же сложившаяся структура организации напрямую зависит от
            позиций,
            занимаемых участниками в отношении поставленных задач? Дорогие друзья, реализация намеченного плана развития
            обеспечивает актуальность ключевых компонентов планируемого обновления.

            Повседневная практика показывает, что консультация с профессионалами из IT в значительной степени
            обуславливает
            создание всесторонне сбалансированных нововведений. Таким образом, рамки и место обучения кадров требует
            определения и уточнения позиций, занимаемых участниками в отношении поставленных задач? Дорогие друзья,
            социально-экономическое развитие влечет за собой процесс внедрения и модернизации ключевых компонентов
            планируемого обновления. Соображения высшего порядка, а также выбранный нами инновационный путь создаёт
            предпосылки качественно новых шагов для направлений прогрессивного развития. Значимость этих проблем
            настолько
            очевидна, что дальнейшее развитие различных форм деятельности требует от нас анализа дальнейших направлений
            развития проекта? Равным образом новая модель организационной...
        </p>

        <img align="center" src="image/thrid.png" alt="Для страницы 3">

        <p>Разработчик web страницы - Немачук Евгений - студент факультета ИТУ РГУПС</p>
        <br>
        <a href="http://rgups.ru/">Ссылка на сайт РГУПС</a>
        <br>
        <a href="incuo2019@gmail.com">incuo2019@gmail.com</a>
    </font>
</body>

</html>